[user]
	name = Chris Spradling
	email = cjspradling@gmail.com
[core]
	excludesfile = ~/.gitignore_global
	preloadindex = true
[color]
	ui = auto
[color.grep]
	filename = bold green
	match = black yellow
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[diff]
	algorithm = patience
	renames = copies
[push]
	default = tracking

[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[alias]
	s = status --short --branch
	ach = grep --extended-regexp --break --heading --line-number
[commit]
	template = ~/.stCommitMsg
