[user]
	name = Chris Spradling
	email = cjspradling@gmail.com
[core]
	excludesfile = /Users/cjspradling/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /private/var/folders/kp/7346mvqn4y95zry6y74gqpch0000gn/T/AppTranslocation/6C52828A-1602-43D9-855A-63DE3ED5901F/d/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
